:root {
	--db-color-bg: #fff;
	--db-color-bg-hover: #faf9f6;
	--db-color-bg-pressed: #f1f1ee;
	--db-color-bg-secondary: #faf9f6;
	--db-color-bg-secondary-hover: #f1f1ee;
	--db-color-bg-tertiary: #ebebe8;
	--db-color-bg-tertiary-hover: #e2e3e0;
	--db-color-bg-inverse: #2d3133;
	--db-color-bg-disabled: #f1f1ee;
	--db-color-bg-switch-active: #029934;
	--db-color-bg-switch-active-hover: #237a30;
	--db-color-bg-switch-active-disabled: #33e288;
	--db-color-bg-switch-inactive: #ddddda;
	--db-color-bg-switch-inactive-hover: #c6c7c4;
	--db-color-bg-switch-inactive-disabled: #f1f1ee;
	--db-color-bg-brand: #a57e00;
	--db-color-bg-brand-hover: #846611;
	--db-color-bg-brand-pressed: #745b1a;
	--db-color-bg-brand-secondary: #fff5e7;
	--db-color-bg-brand-disabled: #f0c044;
	--db-color-bg-info: #2a81f9;
	--db-color-bg-info-hover: #2968c6;
	--db-color-bg-info-pressed: #335da4;
	--db-color-bg-info-secondary: #f5f6ff;
	--db-color-bg-info-disabled: #acc7ff;
	--db-color-icon-brand: #a57e00;
	--db-color-icon-brand-hover: #846611;
	--db-color-icon-brand-pressed: #745b1a;
	--db-color-icon-brand-disabled: #f0c044;
	--db-color-icon-onbrand: #fff;
	--db-color-icon-info: #2a81f9;
	--db-color-icon-info-hover: #2968c6;
	--db-color-icon-info-pressed: #335da4;
	--db-color-icon-info-disabled: #acc7ff;
	--db-color-icon-oninfo: #fff;
	--db-color-icon-success: #029934;
	--db-color-icon-success-hover: #237a30;
	--db-color-icon-success-pressed: #2e6b33;
	--db-color-icon-success-disabled: #33e288;
	--db-color-icon-onsuccess: #fff;
	--db-color-icon-warning: #cf6700;
	--db-color-icon-danger: #f04340;
	--db-color-icon-danger-hover: #c13937;
	--db-color-icon-danger-pressed: #a43b37;
	--db-color-icon-danger-disabled: #ffb3ad;
	--db-color-icon-ondanger: #fff;
	--db-color-icon-warning-hover: #a35613;
	--db-color-icon-warning-pressed: #8c4f1f;
	--db-color-icon-warning-disabled: #ffb787;
	--db-color-icon-onwarning: #fff;
	--db-color-icon: #000;
	--db-color-icon-hover: #000;
	--db-color-icon-interactive-hover: #a57e00;
	--db-color-icon-pressed: #000;
	--db-color-icon-secondary: #5d5f5d;
	--db-color-icon-secondary-hover: #000;
	--db-color-icon-tertiary: #838482;
	--db-color-icon-tertiary-hover: #000;
	--db-color-icon-selected: #a57e00;
	--db-color-border-brand: #ffd87e;
	--db-color-border-info: #cfddff;
	--db-color-border-info-hover: #2a81f9;
	--db-color-border-info-light: #e4ebff;
	--db-color-border-info-strong: #2a81f9;
	--db-color-border-info-strong-hover: #2968c6;
	--db-color-border-info-disabled: #e4ebff;
	--db-color-border-brand-hover: #a57e00;
	--db-color-border-brand-light: #ffe9bb;
	--db-color-border-success: #18fbb1;
	--db-color-border-success-hover: #029934;
	--db-color-border-success-light: #83ffd3;
	--db-color-border-success-strong: #029934;
	--db-color-border-success-strong-hover: #237a30;
	--db-color-border-success-disabled: #83ffd3;
	--db-color-border-brand-strong: #a57e00;
	--db-color-border-brand-strong-hover: #846611;
	--db-color-border-warning: #ffd4ba;
	--db-color-border-warning-hover: #cf6700;
	--db-color-border-warning-light: #ffe6d8;
	--db-color-border-warning-strong: #cf6700;
	--db-color-border-warning-strong-hover: #a35613;
	--db-color-border-warning-disabled: #ffe6d8;
	--db-color-border-brand-disabled: #ffe9bb;
	--db-color-border-danger: #ffd3ce;
	--db-color-border-danger-hover: #f04340;
	--db-color-border-danger-light: #ffe5e3;
	--db-color-border-danger-strong: #f04340;
	--db-color-border-danger-strong-hover: #c13937;
	--db-color-border-danger-disabled: #ffe5e3;
	--db-color-border: #ddddda;
	--db-color-border-hover: #838482;
	--db-color-border-light: #ebebe8;
	--db-color-border-strong: #838482;
	--db-color-border-disabled: #ebebe8;
	--db-color-bg-success: #029934;
	--db-color-bg-success-hover: #237a30;
	--db-color-bg-success-pressed: #2e6b33;
	--db-color-bg-success-secondary: #d4ffee;
	--db-color-bg-success-disabled: #33e288;
	--db-color-bg-warning: #cf6700;
	--db-color-bg-warning-hover: #a35613;
	--db-color-bg-warning-pressed: #8c4f1f;
	--db-color-bg-warning-secondary: #fff4f0;
	--db-color-bg-warning-disabled: #ffb787;
	--db-color-bg-danger: #f04340;
	--db-color-bg-danger-hover: #c13937;
	--db-color-border-focus: #ffce51;
	--db-color-bg-danger-pressed: #a43b37;
	--db-color-bg-danger-secondary: #fff4f3;
	--db-color-bg-danger-disabled: #ffb3ad;
	--db-color-border-oninverse: #44474a;
	--db-color-bg-selected: #fff5e7;
	--db-color-bg-selected-hover: #ffefd2;
	--db-color-bg-selected-pressed: #ffefd2;
	--db-color-bg-chip: #ebebe8;
	--db-color-bg-chip-hover: #e2e3e0;
	--db-color-bg-chip-disabled: #f1f1ee;
	--db-color-icon-oninverse: #fff;
	--db-color-text-brand: #a57e00;
	--db-color-icon-disabled: #c6c7c4;
	--db-color-text-brand-hover: #846611;
	--db-color-text-brand-pressed: #745b1a;
	--db-color-text-brand-secondary: #d2a529;
	--db-color-text-brand-disabled: #f0c044;
	--db-color-text-onbrand: #fff;
	--db-color-text-info: #2a81f9;
	--db-color-text-info-hover: #2968c6;
	--db-color-text-info-pressed: #335da4;
	--db-color-text-info-secondary: #7fabff;
	--db-color-text-info-disabled: #acc7ff;
	--db-color-text-oninfo: #fff;
	--db-color-text-success: #029934;
	--db-color-text-success-hover: #237a30;
	--db-color-text-success-pressed: #2e6b33;
	--db-color-text-success-secondary: #39c35f;
	--db-color-text-success-disabled: #33e288;
	--db-color-text-onsuccess: #fff;
	--db-color-text-danger: #f04340;
	--db-color-text-danger-hover: #c13937;
	--db-color-text-danger-pressed: #a43b37;
	--db-color-text-danger-secondary: #ff8980;
	--db-color-text-danger-disabled: #ffb3ad;
	--db-color-text-ondanger: #fff;
	--db-color-text-warning: #cf6700;
	--db-color-text-warning-hover: #a35613;
	--db-color-text-warning-pressed: #8c4f1f;
	--db-color-text-warning-secondary: #ff8e35;
	--db-color-text-warning-disabled: #ffb787;
	--db-color-text-onwarning: #fff;
	--db-color-text: #000;
	--db-color-text-secondary: #5d5f5d;
	--db-color-text-tertiary: #838482;
	--db-color-text-disabled: #c6c7c4;
	--db-color-text-placeholder: #c6c7c4;
	--db-color-text-oninverse: #fff;
}