:root {
	--db-color-bg: #232b38;
	--db-color-bg-hover: #273241;
	--db-color-bg-pressed: #273241;
	--db-color-bg-secondary: #262f3d;
	--db-color-bg-secondary-hover: #384157;
	--db-color-bg-tertiary: #1b212b;
	--db-color-bg-tertiary-hover: #262f3d;
	--db-color-bg-inverse: #fff;
	--db-color-bg-disabled: #44474a;
	--db-color-bg-info: #488fff;
	--db-color-bg-info-hover: #0b73eb;
	--db-color-bg-info-pressed: #2968c6;
	--db-color-bg-info-secondary: #30353e;
	--db-color-bg-info-disabled: #acc7ff;
	--db-color-bg-brand: #22a640;
	--db-color-icon-brand: #39c35f;
	--db-color-icon-brand-hover: #22a640;
	--db-color-icon-brand-pressed: #029934;
	--db-color-icon-brand-disabled: #2e6b33;
	--db-color-icon-onbrand: #fff;
	--db-color-icon-info: #7fabff;
	--db-color-icon-info-hover: #488fff;
	--db-color-icon-info-pressed: #2a81f9;
	--db-color-icon-info-disabled: #335da4;
	--db-color-icon-oninfo: #fff;
	--db-color-icon-success: #39c35f;
	--db-color-icon-success-hover: #22a640;
	--db-color-icon-success-pressed: #029934;
	--db-color-icon-success-disabled: #2e6b33;
	--db-color-icon-onsuccess: #fff;
	--db-color-icon-warning: #ff8e35;
	--db-color-icon-danger: #ff8980;
	--db-color-icon-danger-hover: #ff544f;
	--db-color-icon-danger-pressed: #f04340;
	--db-color-icon-danger-disabled: #a43b37;
	--db-color-icon-ondanger: #fff;
	--db-color-icon-warning-hover: #e07312;
	--db-color-icon-warning-pressed: #cf6700;
	--db-color-icon-warning-disabled: #8c4f1f;
	--db-color-icon-onwarning: #fff;
	--db-color-icon: #fff;
	--db-color-icon-hover: #fff;
	--db-color-icon-interactive-hover: #39c35f;
	--db-color-icon-pressed: #fff;
	--db-color-icon-secondary: #b6b9bc;
	--db-color-icon-secondary-hover: #fff;
	--db-color-icon-tertiary: #818487;
	--db-color-icon-tertiary-hover: #fff;
	--db-color-icon-selected: #39c35f;
	--db-color-border-brand: #334d32;
	--db-color-border-info: #364767;
	--db-color-border-info-hover: #488fff;
	--db-color-border-info-light: #343b4d;
	--db-color-border-info-strong: #488fff;
	--db-color-border-info-strong-hover: #0b73eb;
	--db-color-border-info-disabled: #343b4d;
	--db-color-border-brand-hover: #22a640;
	--db-color-border-success: #334d32;
	--db-color-border-brand-light: #333e32;
	--db-color-border-success-hover: #22a640;
	--db-color-border-success-light: #333e32;
	--db-color-border-success-strong: #22a640;
	--db-color-border-success-strong-hover: #008a2e;
	--db-color-border-success-disabled: #333e32;
	--db-color-border-brand-strong: #22a640;
	--db-color-border-warning: #5f402a;
	--db-color-border-brand-strong-hover: #008a2e;
	--db-color-border-warning-hover: #e07312;
	--db-color-border-warning-light: #49382c;
	--db-color-border-warning-strong: #e07312;
	--db-color-border-warning-strong-hover: #bb5d00;
	--db-color-border-warning-disabled: #49382c;
	--db-color-border-brand-disabled: #333e32;
	--db-color-border-danger: #6b3835;
	--db-color-border-danger-hover: #ff544f;
	--db-color-border-danger-light: #4e3532;
	--db-color-border-danger-strong: #ff544f;
	--db-color-border-danger-strong-hover: #de3535;
	--db-color-border-danger-disabled: #4e3532;
	--db-color-bg-brand-hover: #008a2e;
	--db-color-bg-brand-pressed: #237a30;
	--db-color-bg-brand-secondary: #313630;
	--db-color-bg-brand-disabled: #33e288;
	--db-color-border: #44474a;
	--db-color-border-hover: #8e9194;
	--db-color-border-light: #383c3e;
	--db-color-border-strong: #8e9194;
	--db-color-border-disabled: #383c3e;
	--db-color-bg-success: #22a640;
	--db-color-bg-success-hover: #008a2e;
	--db-color-bg-success-pressed: #237a30;
	--db-color-bg-success-secondary: #313630;
	--db-color-bg-success-disabled: #33e288;
	--db-color-bg-warning: #e07312;
	--db-color-bg-danger: #ff544f;
	--db-color-bg-danger-hover: #de3535;
	--db-color-bg-danger-pressed: #c13937;
	--db-color-bg-danger-secondary: #3d3231;
	--db-color-bg-danger-disabled: #ffb3ad;
	--db-color-bg-chip: #2d3748;
	--db-color-bg-chip-hover: #503348;
	--db-color-bg-chip-disabled: #503348;
	--db-color-bg-switch-active: #22a640;
	--db-color-bg-switch-active-hover: #008a2e;
	--db-color-bg-switch-active-disabled: #33e288;
	--db-color-bg-switch-inactive: #434848;
	--db-color-bg-switch-inactive-hover: #5a5f5f;
	--db-color-bg-switch-inactive-disabled: #373c3d;
	--db-color-bg-warning-hover: #bb5d00;
	--db-color-bg-warning-pressed: #a35613;
	--db-color-bg-warning-secondary: #3c332d;
	--db-color-bg-warning-disabled: #ffb787;
	--db-color-border-focus: #24f1a1;
	--db-color-border-oninverse: #dbdde0;
	--db-color-bg-selected: #313630;
	--db-color-bg-selected-hover: #333e32;
	--db-color-bg-selected-pressed: #333e32;
	--db-color-icon-oninverse: #000;
	--db-color-text-brand: #39c35f;
	--db-color-icon-disabled: #5b5f61;
	--db-color-text-brand-hover: #029934;
	--db-color-text-brand-pressed: #008a2e;
	--db-color-text-brand-secondary: #33e288;
	--db-color-text-brand-disabled: #2e6b33;
	--db-color-text-onbrand: #fff;
	--db-color-text-info: #7fabff;
	--db-color-text-info-hover: #2a81f9;
	--db-color-text-info-pressed: #0b73eb;
	--db-color-text-info-secondary: #acc7ff;
	--db-color-text-info-disabled: #335da4;
	--db-color-text-oninfo: #fff;
	--db-color-text-success: #39c35f;
	--db-color-text-success-hover: #029934;
	--db-color-text-success-pressed: #22a640;
	--db-color-text-success-secondary: #33e288;
	--db-color-text-success-disabled: #2e6b33;
	--db-color-text-onsuccess: #fff;
	--db-color-text-danger: #ff8980;
	--db-color-text-danger-hover: #f04340;
	--db-color-text-danger-pressed: #de3535;
	--db-color-text-danger-secondary: #ffb3ad;
	--db-color-text-danger-disabled: #a43b37;
	--db-color-text-ondanger: #fff;
	--db-color-text-warning: #ff8e35;
	--db-color-text-warning-hover: #cf6700;
	--db-color-text-warning-pressed: #e07312;
	--db-color-text-warning-secondary: #ffb787;
	--db-color-text-warning-disabled: #8c4f1f;
	--db-color-text-onwarning: #fff;
	--db-color-text: #fff;
	--db-color-text-secondary: #b6b9bc;
	--db-color-text-tertiary: #8e9194;
	--db-color-text-disabled: #5b5f61;
	--db-color-text-placeholder: #74777a;
	--db-color-text-oninverse: #000;
}